body{
  background: url("https://subtlepatterns.com/patterns/footer_lodyas.png");
  color:#fff;
  font-family:'Pacifico', cursive;
}
.slick-initialized, .slick-slider{
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  text-align: center;
  font-size: 2.5em;
}
img{
    width:  840px;
    height: 500px;
    border: 5px solid #fff;
}
.slick-arrow{
  font-size: 1.2em;
  font-weight: bolder;
}
.loading{
  text-align: center;
}
.slick-dots li button:before {
    font-size: 15px;
    top: 5px;
    color: #fff;
    opacity: 1;
  }
